
<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-bomb fa-6x"></i>
    <h1 class="display-3">Error</h1>
    <p class="secret-text">Ooops! Your not Authorised.</p>
    <hr>
    
    <a class="btn btn-light btn-lg" href="/login" role="button">Log in</a>
    <a class="btn btn-dark btn-lg" href="/register" role="button">register</a>
  </div>
</div>

<%- include('partials/footer') %>
